@font-face {
  font-family: futuram;
  src: url("/src/fonts/futura.woff");
  /* src: url("https://pub-fda2822a46e14c078dd237fc34f45104.r2.dev/futuraMediumBT.woff"); */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "futuram";
  
}