@font-face {
  font-family: futuram;
  src: url("/src/fonts/futura.woff");
  /* src: url("https://pub-fda2822a46e14c078dd237fc34f45104.r2.dev/futuraMediumBT.woff"); */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "futuram";
}

html {
  scroll-snap-type: y mandatory;
}

.parallax {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  color: white;
  font-weight: 700;
  font-style: italic;
}

.parallax .scroller {
  font-size: 1.468rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.text-scroller span {
  display: inline-block;
}
